.health-checkbox{
    padding:10px;
    float:left;
}
.health-checkbox label{
    padding: 10px;
    font-size: 25px;
}
.health-checkbox input.largerCheckbox {
    width: 40px;
    height: 40px;
}
.table tr td{
    border:1px solid #000;
}
.table tr td:first-child{
    width:320px;
}
.react-datepicker-popper {
    z-index: 1000;
}